// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;
  
  --mat-sys-primary: blue;
  --mat-sys-on-primary: white;

  --mat-sys-primary-container: rgb(0, 83, 255);
  --mat-sys-on-primary-container: white;

  --mat-sys-surface: white;
  --mat-sys-on-surface: rgb(0, 83, 255);

  --mat-sys-surface-variant: rgb(217, 217, 217);
  --mat-sys-on-surface-variant: black;

  --mat-sys-surface-tint: rgb(0, 83, 255);
  --mat-sys-outline: rgb(0, 83, 255);

  --mat-sys-error: rgb(255, 0, 0);
  --mat-sys-error-container: rgb(255, 0, 0);

  --mat-sys-on-error: white;
  --mat-sys-on-error-container: white;

  --mat-sys-outline: rgb(0, 83, 255);
  --mat-sys-outline-variant: rgb(217, 217, 217);

  --mat-sys-scrim: rgba(0, 0, 0, 0.5);

  --mat-sys-on-background: rgb(0, 83, 255);
  --mat-sys-on-surface-variant: black;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
