/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.dark-mode {
  color-scheme: dark;
}
.light-mode {
  color-scheme: light;
}

:root {
  --var-fundo: var(--mat-sys-primary);
  --var-texto: var(--mat-sys-on-primary);

  --body-fundo: var(--mat-sys-surface-variant);
  --body-texto: var(--mat-sys-on-surface);
}

th {
  background-color: var(--var-fundo) !important;
  color: var(--var-texto) !important;
}

/* :root {
  --var-fundo: var(--mat-sys-primary-container); 
  --var-texto: var(--mat-sys-on-primary-container);
} */
