/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.dark-mode {
  color-scheme: dark;
}
.light-mode {
  color-scheme: light;
}

th {
  background-color: var(--mat-sys-primary-container) !important;
  color: var(--mat-sys-on-primary-container) !important;
}
